@import "tailwindcss";

@font-face {
  font-family: "Colus";
  src: url("/Colus-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mosley";
  src: url("/Mosley%20Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Colus", serif;
  --font-serif: "Mosley", serif;
}

:root {
  --background: #f4f1ea; /* Beige background from the image */
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6,
.ant-typography-title {
  font-family: var(--font-serif);
}

.ant-typography {
  font-family: var(--font-sans) !important;
}

.ant-typography-title {
  font-family: var(--font-serif) !important;
}


section[id] {
  scroll-margin-top: 96px;
}
